html,body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,span,input{
    margin:0;padding:0;
}

a{
    text-decoration: none;
}
a:link{
    color: inherit;
}
#bg{
    background-image: url("../images/2.jpg");
    background-size: 100%;
}

ul {
    border-radius: 30px;
    list-style-type: none;
    height: 100%;
    background-color:#CCFFFF;
  }
li{
    display: inline;
}
li a {
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #FFCCCC;
}
/*liuyan begin*/

#header{
    margin: 0 auto;
    height: 50px;
    width: 60%;
    background-color:#CCFFFF;    
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
}

#headname{
    margin-left: 275px;
    display: inline-block;
}
#pst1{
    margin-top: 5px;
    height: 40px;
    width: 30%;
    /* background-color: royalblue; */
    line-height: 40px;
    float: right;
}


#image{
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background-color: red; */
}
#username{
    text-align: start;
    height: 20px;
    width: 130px;
    float: left;
    margin-left: 10px;
}
#time{
    margin-left: 10px;
    float: left;
    height: 20px;
}
#exit{
    float: right;
    height: 40px;
    width: 40px;
    /* background-color: red; */
} 

#nav{
    margin: 10px auto;
    height: 50px;
    width: 60%;
    /* background-color:#CCCC00; */
    text-align: center;
    line-height: 50px;
}

#formBox{
    padding-top: 10px;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin:30px auto;
    width: 700px;
    box-sizing: border-box;
    height: 200px;
    background-color: white;
}
#formBox textarea{
    margin-top: 10px;
    width: 95%;
    height:100px;
    resize: none;
}
#formBox input{
    
    margin-left: 540px;
    height: 30px;
    width: 100px;
    background-color: #CCFFFF;
    color: black;
}

#formBox input:hover{
    background-color:#FFCCCC;
}

#messageBox{
    border: 1px solid black;
    margin: 15px auto;
    background-color: white;
}
#pst2{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    /*background-color:greenyellow*/;
}

#content{
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    width: 98%;
    line-height: 20px;
    /*background-color: grey;*/
    overflow: hidden;
}

#newcontent{
	word-break : break-all;
    line-height: 20px;
    /*background-color: grey;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#message_left{
    height: 100%;
    width: 92%;/*650*/
    float: left;
    background-color:white;
}

#message_box{
    background-color: white;
}


#message_right{
    line-height: 80px;
    text-align: center;
    width: 100%;
    height: 100%;
    /* background-color: coral; */
}
#footerBox{

    margin: 10px auto;
    /* background-color: white; */
    text-align: center;
}

#pagenum{
    width: 50px;
    display: inline-block;
    background-color:#CCFFFF;
    color: black;
}




/*liuyan end*/


/*login begin*/
#login{
    width: 350px;
    height: 300px;
    float: right;
    background-color: #CCFFFF;
    margin-right: 100px;
    margin-top: 100px;
    text-align: center;
    padding-top: 80px;
    color: #FFCCCC;
}
#login input{
    width: 200px;
    height: 30px;
}

/*login end*/


/*userinfo begin*/
#infoBox{
    margin:0 auto;
    height: 600px;
    width: 60%;
    background-color:white;
    padding-top: 30px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#info_left{
    width: 300px;
    height: 100%;
    float: left;
    text-align: center;
    /* background-color: #CCFFFF; */
}

#info_right{
    float:right;
    width: 550px;
    height: 100%;
    /* background-color: darkgoldenrod; */
    padding: 20px;
    box-sizing: border-box;
    line-height: 30px;
}
#bgimage{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* background-color: violet; */
    margin-bottom: 10px;
}




/*userinfo end*/

/*index begin*/
.center{
    background-color:#CCFFFF;
    text-align: center;
    overflow: hidden;
}

/*index end*/

/*size begin*/
.size1{
    width: 120px;
    height: 30px;
}
.size2{
    width: 700px;
    height: 120px;
}

.size3{
    width:500px;
    height: 120px;
}

.size4{
    width: 700px;
}


/*size end*/

/*button begin*/

.button1{
    color: red;
}

.button2{
    border: 2px solid black;
    color: black;
    background-color: #CCFFFF;
}
.button2:hover{
    background-color: #FFCCCC;
}

/*button end*/